* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.container:after {
    display: block;
    content: '';
    clear: both;
}

.left__header {
    float: left;
    width: 250px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    color: purple;
}

.logo {
   vertical-align: center;
    line-height: 50px;
    font-size: 16px;
    
}


.btn {
    width: 150px;
    height: 50px;
    color: purple;
    margin-top: 20px;
    display: inline-block;
    float: right;
    border: 3px solid red;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    
}

.phone {
    color: purple;
    float: right;
    margin: 35px 50px;
    font-size: 16px;
}

.thumbnails {
    text-align: center;
    position: relative;
}

.thumbnail {
    width: 300px;
    height: 300px;
    background-color: red;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 300px;
    font-size: 20px;
    
}

.special {
    position: absolute;
    border: 3px solid green;
    display: inline-block;
    padding: 5px 10px;
    top: 10px;
    left: 250px;
    color: #fff;
}




/*------------MEDIA QUERIES-------------*/

@media screen and (max-width: 768px) {
    
   
    
    .thumbnail {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        
        
    }
    
    .left__header {
        float: none;
    }
    
    .logo {
       margin: 0 auto;
       display: block;
        
    }
    .btn {
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .phone {
        float: none;
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .special {
        left: 411px; 
    }
}











